:root {
    --blue: #023e8a;
    --red: #d00000;
    --yellow: #ffba08;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header{
    display: flex;
    justify-content: center;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#photo img, #video video, #infoviz img, #chart img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 2px solid var(--blue);
}

#interactive-map { 
    height: 360px; 
    width: 100%; 
    border-radius: 8px;
    border: 2px solid var(--blue);
}

#table {
    width: 100%;
    border-collapse: collapse;
}

#table th, #table td {
    padding: 10px;
    border: 1px solid var(--red);
}
